acquisition:
  date: "2026-01-01"
  chip: W1a
  structure: 86.6um
  gas: Ar
  w: 26.
  element: Fe55
  e_peak: 5.9


pipeline:
  # Execute the calibration
  - task: calibration
    plot: false

  - task: fit_spec
    subtasks:
      # Fit the main line of the spectrum with a double Gaussian.
      - target: main
        model: Fe55Forest
        # For well-behaved spectra no optional parameters should be needed

    # Estimate the gain from the main line  
  - task: gain
    target: main
    fit: true         # Fit the gain with an exponential model
    plot: true        # Plot gain vs back voltage
    label: Gain label for chip W1a 86.6 um
    yscale: linear    # Set the linear scale for the y-axis

    # Estimate the resolution from the main line 
  - task: resolution
    target: main
    plot: true        # Plot resolution vs back voltage
    label: Resolution label for chip W1a 86.6 um

    # The plot task is not performed, as its output is the same as the single
    # analysis but for all the spectra. If you are interested to see the spectral
    # fit to check the goodness of the fits, you can write the task.
