pipeline:
  # Execute the calibration
  - task: calibration
    show: false

  - task: fit_spec
    subtasks:
      # Fit the main line of the spectrum with a double Gaussian.
      - target: main
        model: Fe55Forest
        # For well-behaved spectra no optional parameters should be needed

    # Estimate the gain from the main line  
  - task: gain
    target: main
    fit: true         # Fit the gain with an exponential model
    show: true        # Plot gain vs back voltage

    # Estimate the resolution from the main line 
  - task: resolution
    target: main
    show: true        # Plot resolution vs back voltage
  
style:
  tasks:
    gain:
      marker: d
      linestyle: --
      color: black
      label: Data
      legend_label: $\mu$GPD
      title: Gain analysis
      yscale: log
    
    resolution:
      marker: .
      color: blue
      label: Data
      legend_label: $\mu$GPD
      title: Energy resolution analysis
      annotate_min: true